<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Rendas do mes</h3>
          <h5>Rendas</h5>
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
          <h5>Gastos</h5>
          <a href="#" class="card-link float-right">Detalhes</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
</div>